spring:
  application:
    name: market
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

  datasource:
    url: jdbc:postgresql://localhost:5432/market
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: market_schema
        hbm2ddl:
          create_namespaces: true
        format_sql: true

  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info
